Repository TheUsernameIsNotTaken/YouToddler, changes with the owners that CODEOWNERS names for each.
All owners: @cant0r, @TheUsernameIsNotTaken, @szemand, @Pajaik

updated readme with moved links
  src/YouToddlerWebAPI/README.md
Owners: @TheUsernameIsNotTaken

Removed TODO
  src/YouToddlerWebAPI/src/main/java/io/swagger/api/MetaApiController.java
Owners: @TheUsernameIsNotTaken

Fixed postman collection link.
  src/YouToddlerWebAPI/README.md
Owners: @TheUsernameIsNotTaken

Updated Jre and Maven Wrapper.
  src/YouToddlerWebAPI/.idea/misc.xml
  src/YouToddlerWebAPI/.idea/runConfigurations/Swagger2SpringBoot.xml
  src/YouToddlerWebAPI/.mvn/wrapper/maven-wrapper.jar
  src/YouToddlerWebAPI/.mvn/wrapper/maven-wrapper.properties
  src/YouToddlerWebAPI/mvnw
  src/YouToddlerWebAPI/mvnw.cmd
Owners: @TheUsernameIsNotTaken

Fixed typo
  src/YouToddlerWebAPI/README.md
Owners: @TheUsernameIsNotTaken

Refactored packagename
  src/YouToddlerWebAPI/pom.xml
  src/YouToddlerWebAPI/src/main/java/io/youtoddler/RFC3339DateFormat.java
  src/YouToddlerWebAPI/src/main/java/io/youtoddler/Swagger2SpringBoot.java
  src/YouToddlerWebAPI/src/main/java/io/youtoddler/api/ApiException.java
  src/YouToddlerWebAPI/src/main/java/io/youtoddler/api/ApiOriginFilter.java
  src/YouToddlerWebAPI/src/main/java/io/youtoddler/api/ApiResponseMessage.java
  src/YouToddlerWebAPI/src/main/java/io/youtoddler/api/DownloadApi.java
  src/YouToddlerWebAPI/src/main/java/io/youtoddler/api/DownloadApiController.java
  src/YouToddlerWebAPI/src/main/java/io/youtoddler/api/HistoryApi.java
  src/YouToddlerWebAPI/src/main/java/io/youtoddler/api/HistoryApiController.java
  src/YouToddlerWebAPI/src/main/java/io/youtoddler/api/MetaApi.java
  src/YouToddlerWebAPI/src/main/java/io/youtoddler/api/MetaApiController.java
  src/YouToddlerWebAPI/src/main/java/io/youtoddler/api/NotFoundException.java
  src/YouToddlerWebAPI/src/main/java/io/youtoddler/configuration/CustomInstantDeserializer.java
  src/YouToddlerWebAPI/src/main/java/io/youtoddler/configuration/HomeController.java
  src/YouToddlerWebAPI/src/main/java/io/youtoddler/configuration/JacksonConfiguration.java
  src/YouToddlerWebAPI/src/main/java/io/youtoddler/configuration/LocalDateConverter.java
  src/YouToddlerWebAPI/src/main/java/io/youtoddler/configuration/LocalDateTimeConverter.java
  src/YouToddlerWebAPI/src/main/java/io/youtoddler/configuration/SwaggerDocumentationConfig.java
  src/YouToddlerWebAPI/src/main/java/io/youtoddler/configuration/SwaggerUiConfiguration.java
  src/YouToddlerWebAPI/src/main/java/io/youtoddler/model/Audio.java
  src/YouToddlerWebAPI/src/main/java/io/youtoddler/model/Format.java
  src/YouToddlerWebAPI/src/main/java/io/youtoddler/model/HistoryLog.java
  src/YouToddlerWebAPI/src/main/java/io/youtoddler/model/Metadata.java
  src/YouToddlerWebAPI/src/main/java/io/youtoddler/model/ModelApiResponse.java
  src/YouToddlerWebAPI/src/main/java/io/youtoddler/model/Resolution.java
  src/YouToddlerWebAPI/src/main/java/io/youtoddler/model/Video.java
  src/YouToddlerWebAPI/src/main/resources/application.properties
Owners: @TheUsernameIsNotTaken

Refactored packagename part 2
  src/YouToddlerWebAPI/.idea/compiler.xml
  src/YouToddlerWebAPI/.idea/runConfigurations/Swagger2SpringBoot.xml
  src/YouToddlerWebAPI/src/main/java/io/youtoddler/api/MetaApiController.java
Owners: @TheUsernameIsNotTaken

Refactored packagename part 3
  src/YouToddlerWebAPI/.idea/runConfigurations/Swagger2SpringBoot.xml
  src/YouToddlerWebAPI/src/main/java/io/youtoddler/Swagger2SpringBoot.java
Owners: @TheUsernameIsNotTaken

Updated main gitingore.
  .gitignore
Owners: @cant0r

MAN-27 Refactor, Ignore and Version Update
  .gitignore
  src/YouToddlerWebAPI/pom.xml
Owners: @cant0r, @TheUsernameIsNotTaken

MAN-27 Updated targets and build info
  src/YouToddlerWebAPI/README.md
Owners: @TheUsernameIsNotTaken

Project structure fix
  src/YouToddlerFrontend/.gitignore
  src/YouToddlerFrontend/README.md
  src/YouToddlerFrontend/package-lock.json
  src/YouToddlerFrontend/package.json
  src/YouToddlerFrontend/public/favicon.ico
  src/YouToddlerFrontend/public/index.html
  src/YouToddlerFrontend/public/logo192.png
  src/YouToddlerFrontend/public/logo512.png
  src/YouToddlerFrontend/public/manifest.json
  src/YouToddlerFrontend/public/robots.txt
  src/YouToddlerFrontend/src/App.css
  src/YouToddlerFrontend/src/App.test.tsx
  src/YouToddlerFrontend/src/App.tsx
  src/YouToddlerFrontend/src/api.ts
  src/YouToddlerFrontend/src/apis/download-api.ts
  src/YouToddlerFrontend/src/apis/history-api.ts
  src/YouToddlerFrontend/src/apis/meta-api.ts
  src/YouToddlerFrontend/src/base.ts
  src/YouToddlerFrontend/src/components/AvailableFormats.tsx
  src/YouToddlerFrontend/src/components/Header.tsx
  src/YouToddlerFrontend/src/configuration.ts
  src/YouToddlerFrontend/src/index.css
  src/YouToddlerFrontend/src/index.tsx
  src/YouToddlerFrontend/src/logo.svg
  src/YouToddlerFrontend/src/models/api-response.ts
  src/YouToddlerFrontend/src/models/audio.ts
  src/YouToddlerFrontend/src/models/format.ts
  src/YouToddlerFrontend/src/models/history-log.ts
  src/YouToddlerFrontend/src/models/index.ts
  src/YouToddlerFrontend/src/models/metadata.ts
  src/YouToddlerFrontend/src/models/resolution.ts
  src/YouToddlerFrontend/src/models/video.ts
  src/YouToddlerFrontend/src/react-app-env.d.ts
  src/YouToddlerFrontend/src/reportWebVitals.ts
  src/YouToddlerFrontend/src/setupTests.ts
  src/YouToddlerFrontend/tsconfig.json
Owners: @szemand

MAN-17 Fake commit to resolve jira ticket
  sam.txt
Owners: @cant0r

MAN-22 Fake commit to resolve jira ticket
  sam.txt
Owners: @cant0r

MAN-23 Fake commit to resolve jira ticket
  sam.txt
Owners: @cant0r

MAN-23 Fake commit to resolve jira ticket
  sam.txt
Owners: @cant0r

MAN-29 Fake commit to resolve jira ticket
  sam.txt
Owners: @cant0r

Changed postman test collection link.
  src/YouToddlerWebAPI/README.md
Owners: @TheUsernameIsNotTaken

Everything is published correctly
  .github/workflows/build-all-and-validate-nightly.yml
  .nuke/build.schema.json
  build/Build.Constants.cs
  build/Build.cs
Owners: @cant0r

Removed unneeded agent
  .github/workflows/pr-pipeline.yml
Owners: @cant0r

Build pipeline now uses secrets
  .github/workflows/build-all-and-validate-nightly.yml
  .nuke/build.schema.json
  build/Build.cs
Owners: @cant0r

Containerized components
  src/YouToddlerFrontend/Dockerfile
  src/YouToddlerWebAPI/Dockerfile
Owners: @szemand, @TheUsernameIsNotTaken

Composed!
  README.md
  docker-compose.yml
Owners: @cant0r

Added env and variable calls
  README.md
  docker-compose.yml
  src/YouToddlerWebAPI/.env
  src/YouToddlerWebAPI/pom.xml
Owners: @cant0r, @TheUsernameIsNotTaken

MAN-55 updated env path
  .env
Owners: @cant0r

Parsing env variable source for maven
  build/Build.cs
Owners: @cant0r

Fixed RTI
  build/Build.cs
Owners: @cant0r

MAN-54 Updated paths for API
  src/YouToddlerWebAPI/src/main/java/io/youtoddler/api/DownloadApiController.java
  src/YouToddlerWebAPI/src/main/java/io/youtoddler/api/MetaApiController.java
Owners: @TheUsernameIsNotTaken

Updated path
  src/YouToddlerWebAPI/src/main/java/io/youtoddler/api/DownloadApiController.java
  src/YouToddlerWebAPI/src/main/java/io/youtoddler/api/MetaApiController.java
Owners: @TheUsernameIsNotTaken

lol .net wasn'T installed
  src/YouToddlerWebAPI/Dockerfile
Owners: @TheUsernameIsNotTaken

Updated
  src/YouToddlerWebAPI/Dockerfile
Owners: @TheUsernameIsNotTaken

Updated
  src/YouToddlerWebAPI/Dockerfile
Owners: @TheUsernameIsNotTaken

Added missing dep
  src/YouToddlerWebAPI/Dockerfile
Owners: @TheUsernameIsNotTaken

Added another missing dep
  src/YouToddlerWebAPI/Dockerfile
Owners: @TheUsernameIsNotTaken

Added final dep as well
  src/YouToddlerWebAPI/Dockerfile
Owners: @TheUsernameIsNotTaken

Added option to produce Windows Binary as well
  build/Build.cs
Owners: @cant0r

Refactored targets
  build/Build.cs
Owners: @cant0r

Updated pipelines
  .github/workflows/build-all-and-validate-nightly.yml
  .github/workflows/pr-pipeline.yml
  .nuke/build.schema.json
Owners: @cant0r

Removed Windows agent due to its incorrect setup
  build/Build.cs
Owners: @cant0r

Testing
  .github/workflows/build-all-and-validate-nightly.yml
  .github/workflows/pr-pipeline.yml
  build/Build.cs
Owners: @cant0r

CODEOWNERS:

*            @cant0r

**/YouToddlerWebAPI/     @TheUsernameIsNotTaken
**/YouToddlerCLI/    @cant0r
**/Libs/YouToddler/    @cant0r
**/YouToddlerFrontend/   @szemand
/docs/       @Pajaik
/demos/      @Pajaik
