Repository TheUsernameIsNotTaken/YouToddler, changes with the owners that CODEOWNERS names for each.
All owners: @cant0r, @TheUsernameIsNotTaken, @szemand, @Pajaik

CODEOWNERS:

*            @cant0r

**/YouToddlerWebAPI/     @TheUsernameIsNotTaken
**/YouToddlerCLI/    @cant0r
**/Libs/YouToddler/    @cant0r
**/YouToddlerFrontend/   @szemand
/docs/       @Pajaik
/demos/      @Pajaik

Updated
  build/Build.cs
Owners: @cant0r

Test
  build/Build.cs
Owners: @cant0r

test
  build/Build.cs
Owners: @cant0r

t
  build/Build.cs
Owners: @cant0r

Test3
  build/Build.cs
  src/YouToddlerWebAPI/Dockerfile
Owners: @cant0r, @TheUsernameIsNotTaken

Set pwd
  src/YouToddlerWebAPI/Dockerfile
Owners: @TheUsernameIsNotTaken

AAAAAA
  src/YouToddlerWebAPI/Dockerfile
Owners: @TheUsernameIsNotTaken

AAA2
  src/YouToddlerWebAPI/Dockerfile
Owners: @TheUsernameIsNotTaken

FOS
  src/YouToddlerWebAPI/Dockerfile
Owners: @TheUsernameIsNotTaken

MAN-55 Middle ground added
  .env
  build/Build.cs
  docker-compose.yml
  src/YouToddlerWebAPI/pom.xml
Owners: @cant0r, @TheUsernameIsNotTaken

removed todo from readme
  README.md
Owners: @cant0r

MAN-55 Removed added, and unneded include
  build/Build.cs
Owners: @cant0r

MAN-57 Fixed wrong call on linux.
  src/YouToddlerWebAPI/src/main/java/io/youtoddler/api/DownloadApiController.java
  src/YouToddlerWebAPI/src/main/java/io/youtoddler/api/MetaApiController.java
Owners: @TheUsernameIsNotTaken

MAN-57 Longer timeouts
  src/YouToddlerWebAPI/src/main/java/io/youtoddler/api/DownloadApiController.java
  src/YouToddlerWebAPI/src/main/java/io/youtoddler/api/MetaApiController.java
Owners: @TheUsernameIsNotTaken

Half Hour Timeout at Download
  src/YouToddlerWebAPI/src/main/java/io/youtoddler/api/DownloadApiController.java
Owners: @TheUsernameIsNotTaken

WORKS
  build/Build.cs
  src/YouToddlerWebAPI/Dockerfile
Owners: @cant0r, @TheUsernameIsNotTaken

Rem cmd
  src/YouToddlerWebAPI/Dockerfile
Owners: @TheUsernameIsNotTaken

What
  .nuke/build.schema.json
  build/Build.cs
  src/YouToddlerWebAPI/docker
Owners: @cant0r, @TheUsernameIsNotTaken

What
  build/Build.cs
Owners: @cant0r

baree
  build/Build.cs
Owners: @cant0r

Updated
  .github/workflows/pr-pipeline.yml
  src/YouToddlerWebAPI/docker
Owners: @cant0r, @TheUsernameIsNotTaken

C
  build/Build.cs
Owners: @cant0r

asd
  build/Build.cs
Owners: @cant0r

fos
  build/Build.cs
Owners: @cant0r

Added API definiton, and basic test collection
  .postman/api
  .postman/api_1926c395-68a1-475e-9cd0-f6025f2f5f0a
  postman/collections/YouToddler.json
  postman/schemas/openapi.yaml
Owners: @cant0r

fos2
  build/Build.cs
Owners: @cant0r

asd
  build/Build.cs
Owners: @cant0r

Updated from collectio to environment functions.
  postman/collections/YouToddler.json
Owners: @cant0r

Another trial
  build/Build.cs
Owners: @cant0r

not lf
  src/YouToddlerWebAPI/docker
Owners: @TheUsernameIsNotTaken

tetstetsettset
  build/Build.cs
  src/YouToddlerWebAPI/docker
Owners: @cant0r, @TheUsernameIsNotTaken

CSak
  build/Build.cs
Owners: @cant0r

tetstetsettset2
  build/Build.cs
Owners: @cant0r

Updated Collection
  .postman/api_1926c395-68a1-475e-9cd0-f6025f2f5f0a
Owners: @cant0r

MAN-18 Updated old tests.
  src/YouToddlerWebAPI/README.md
  src/YouToddlerWebAPI/YouToddler.postman_collection.json
  src/YouToddlerWebAPI/openapi.yaml
Owners: @TheUsernameIsNotTaken

MAN-18 Rearranged and Cleared
  .postman/api_1926c395-68a1-475e-9cd0-f6025f2f5f0a
  postman/collections/YouToddler Test.json
Owners: @cant0r

MAN-18 fix up maven EOL chars.
  src/YouToddlerWebAPI/docker
Owners: @TheUsernameIsNotTaken

MAN-18 Moved postman files.
  tests/.postman/api
  tests/.postman/api_1926c395-68a1-475e-9cd0-f6025f2f5f0a
  tests/postman/collections/YouToddler Test.json
  tests/postman/schemas/openapi.yaml
Owners: @cant0r

MAN-18 Moved Postman files
  tests/.postman/api
  tests/.postman/api_1926c395-68a1-475e-9cd0-f6025f2f5f0a
  tests/postman/collections/YouToddler Test.json
  tests/postman/schemas/openapi.yaml
Owners: @cant0r

Updated files
  .postman/api
  .postman/api_1926c395-68a1-475e-9cd0-f6025f2f5f0a
  tests/postman/collections/YouToddler Test.json
Owners: @cant0r
