Repository TheUsernameIsNotTaken/YouToddler, changes with the owners that CODEOWNERS names for each.
All owners: @cant0r, @TheUsernameIsNotTaken, @szemand, @Pajaik

Update README.md
  README.md
Owners: @cant0r

Update README.md
  README.md
Owners: @cant0r

Created library architectually
  YouToddler.sln
  src/Libs/YouToddler/Artifactory/IYouToddlerArtifactory.cs
  src/Libs/YouToddler/Artifactory/YouToddlerLocalArtifactory.cs
  src/Libs/YouToddler/Class1.cs
  src/Libs/YouToddler/Configuration/YouToddlerArtifactoryConfiguration.cs
  src/Libs/YouToddler/Downloader/YouToddlerDownloader.cs
  src/Libs/YouToddler/Downloader/YouToddlerDownloaderArguments.cs
  src/Libs/YouToddler/History/Historian.cs
  src/Libs/YouToddler/History/LogScroll.cs
  src/Libs/YouToddler/Models/YouToddlerAudioFormat.cs
  src/Libs/YouToddler/Models/YouToddlerContent.cs
  src/Libs/YouToddler/Models/YouToddlerVideoFormat.cs
  src/Libs/YouToddler/Parser/IHttpBasedYouToddlerParser.cs
  src/Libs/YouToddler/Parser/YouToddlerParser.cs
  src/Libs/YouToddler/Runner/YouToddlerRunner.cs
  src/Libs/YouToddler/YouToddler.csproj
  tests/YouToddlerLib.Tests/UnitTest1.cs
  tests/YouToddlerLib.Tests/Usings.cs
  tests/YouToddlerLib.Tests/YouToddlerLib.Tests.csproj
Owners: @cant0r

Updated
  src/Libs/YouToddler/History/Historian.cs
  src/Libs/YouToddler/Models/YouToddlerContent.cs
  src/Libs/YouToddler/YouToddler.csproj
Owners: @cant0r

Latest state
  src/Libs/YouToddler/History/Historian.cs
  src/Libs/YouToddler/History/YouToddlerHistorian.cs
  src/Libs/YouToddler/History/YouToddlerLogScroll.cs
  src/Libs/YouToddler/YouToddler.csproj
  src/Libs/YouToddler/appsettings.json
  tests/YouToddlerLib.Tests/Unit/YouToddlerHistorianTests.cs
  tests/YouToddlerLib.Tests/UnitTest1.cs
  tests/YouToddlerLib.Tests/YouToddlerLib.Tests.csproj
Owners: @cant0r

MAN-42 Generated and Fixed server.
  src/YouToddlerWebAPI/README.md
Owners: @TheUsernameIsNotTaken

MAN-21 Example download
  src/YouToddlerWebAPI/src/main/java/io/swagger/api/DownloadApiController.java
Owners: @TheUsernameIsNotTaken

MAN-41 MAN-47 MAN-48 Example metadata.
  src/YouToddlerWebAPI/src/main/java/io/swagger/api/MetaApiController.java
  src/YouToddlerWebAPI/target/classes/io/swagger/api/DownloadApiController.class
  src/YouToddlerWebAPI/target/classes/io/swagger/api/MetaApiController.class
Owners: @TheUsernameIsNotTaken

MAN-21 MAN-44 Example metadata.
  src/YouToddlerWebAPI/src/main/java/io/swagger/api/DownloadApiController.java
Owners: @TheUsernameIsNotTaken

MAN-44 Added support files.
  src/YouToddlerWebAPI/.idea/vcs.xml
  src/YouToddlerWebAPI/example_files/Videjo.zip
Owners: @TheUsernameIsNotTaken

YouToddleHistorian completed
  src/Libs/YouToddler/History/YouToddlerHistorian.cs
  src/Libs/YouToddler/History/YouToddlerLogScroll.cs
  src/Libs/YouToddler/appsettings.json
  tests/YouToddlerLib.Tests/Unit/YouToddlerHistorianTests.cs
Owners: @cant0r

Const
  tests/YouToddlerLib.Tests/Unit/YouToddlerHistorianTests.cs
Owners: @cant0r

Completed artifactory.
  src/Libs/YouToddler/Artifactory/IYouToddlerArtifactory.cs
  src/Libs/YouToddler/Artifactory/YouToddlerLocalArtifactory.cs
  src/Libs/YouToddler/Configuration/YouToddlerArtifactoryConfiguration.cs
  src/Libs/YouToddler/Configuration/YouToddlerConfiguration.cs
  src/Libs/YouToddler/appsettings.json
  tests/YouToddlerLib.Tests/Unit/YouToddlerLocalArtifactoryTests.cs
Owners: @cant0r

Removed unused imports
  src/Libs/YouToddler/Artifactory/IYouToddlerArtifactory.cs
  src/Libs/YouToddler/Artifactory/YouToddlerLocalArtifactory.cs
  src/Libs/YouToddler/Configuration/YouToddlerConfiguration.cs
  src/Libs/YouToddler/Downloader/YouToddlerDownloader.cs
  src/Libs/YouToddler/History/YouToddlerHistorian.cs
  src/Libs/YouToddler/Models/YouToddlerContent.cs
  src/Libs/YouToddler/Parser/IHttpBasedYouToddlerParser.cs
  src/Libs/YouToddler/Parser/IYouToddlerParser.cs
  src/Libs/YouToddler/Parser/YouToddlerParser.cs
Owners: @cant0r

IMplemented YouToddlerRunner
  src/Libs/YouToddler/Runner/YouToddlerRunner.cs
  tests/YouToddlerLib.Tests/Integration/YouToddlerRunnerTests.cs
Owners: @cant0r

Updated. Parser and downloader started.
  src/Libs/YouToddler/Downloader/YouToddlerDownloader.cs
  src/Libs/YouToddler/Downloader/YouToddlerDownloaderArguments.cs
  src/Libs/YouToddler/Models/YouToddlerAudioFormat.cs
  src/Libs/YouToddler/Models/YouToddlerContent.cs
  src/Libs/YouToddler/Models/YouToddlerVideoFormat.cs
  src/Libs/YouToddler/Parser/YouToddlerParser.cs
Owners: @cant0r

Implemented Downloader.
  src/Libs/YouToddler/Artifactory/YouToddlerLocalArtifactory.cs
  src/Libs/YouToddler/Downloader/YouToddlerDownloader.cs
  src/Libs/YouToddler/Models/YouToddlerMediaContent.cs
  src/Libs/YouToddler/Parser/IYouToddlerParser.cs
  src/Libs/YouToddler/Parser/YouToddlerParser.cs
Owners: @cant0r

Library completed
  src/Libs/YouToddler/Artifactory/YouToddlerLocalArtifactory.cs
  src/Libs/YouToddler/Downloader/YouToddlerDownloader.cs
  src/Libs/YouToddler/Parser/IYouToddlerParser.cs
  src/Libs/YouToddler/Parser/YouToddlerParser.cs
Owners: @cant0r

Fixed tests
  tests/YouToddlerLib.Tests/Unit/YouToddlerHistorianTests.cs
  tests/YouToddlerLib.Tests/Unit/YouToddlerLocalArtifactoryTests.cs
Owners: @cant0r

Fixed logging bug
  src/Libs/YouToddler/History/YouToddlerHistorian.cs
  src/Libs/YouToddler/YouToddler.csproj
  src/Libs/YouToddler/appsettings.json
Owners: @cant0r

Created option classes for cmdoptions
  src/YouToddlerCLI/Options/DescribeOptions.cs
  src/YouToddlerCLI/Options/DownloadOptions.cs
  src/YouToddlerCLI/Options/HistoryOptions.cs
Owners: @cant0r

Retrieving metadata bugfixes.
  src/Libs/YouToddler/Parser/YouToddlerParser.cs
  src/YouToddlerCLI/Program.cs
  src/YouToddlerCLI/Properties/launchSettings.json
  src/YouToddlerCLI/YouToddlerCLI.csproj
  src/YouToddlerCLI/appsettings.json
Owners: @cant0r

MVP01 done
  README.md
  src/Libs/YouToddler/Artifactory/IYouToddlerArtifactory.cs
  src/Libs/YouToddler/Artifactory/YouToddlerLocalArtifactory.cs
  src/Libs/YouToddler/Downloader/YouToddlerDownloader.cs
  src/YouToddlerCLI/Options/CleanOptions.cs
  src/YouToddlerCLI/Options/DownloadOptions.cs
  src/YouToddlerCLI/Program.cs
  src/YouToddlerCLI/Properties/launchSettings.json
  tests/YouToddlerLib.Tests/Unit/YouToddlerLocalArtifactoryTests.cs
  tests/YouToddlerLib.Tests/YouToddlerLib.Tests.csproj
  tests/YouToddlerLib.Tests/appsettings.json
Owners: @cant0r

Updated
  src/YouToddlerCLI/YouToddlerCLI.csproj
  tests/YouToddlerLib.Tests/YouToddlerLib.Tests.csproj
Owners: @cant0r

Trial
  src/YouToddlerCLI/Program.cs
Owners: @cant0r

Some refactoring
  src/YouToddlerCLI/Program.cs
  src/YouToddlerCLI/Properties/launchSettings.json
  src/YouToddlerCLI/YouToddlerCLI.csproj
Owners: @cant0r

MAN-21 MAN-45 MAN-46 Implemented download feature.
  src/YouToddlerWebAPI/.idea/runConfigurations/Swagger2SpringBoot.xml
  src/YouToddlerWebAPI/pom.xml
  src/YouToddlerWebAPI/src/main/java/io/swagger/api/DownloadApi.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/api/DownloadApiController.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/api/MetaApi.java
  src/YouToddlerWebAPI/target/classes/io/swagger/api/DownloadApi.class
  src/YouToddlerWebAPI/target/classes/io/swagger/api/DownloadApiController$ExecConsumer.class
  src/YouToddlerWebAPI/target/classes/io/swagger/api/DownloadApiController$StreamGobbler.class
  src/YouToddlerWebAPI/target/classes/io/swagger/api/DownloadApiController$ZipFinder.class
  src/YouToddlerWebAPI/target/classes/io/swagger/api/DownloadApiController.class
  src/YouToddlerWebAPI/target/classes/io/swagger/api/MetaApi.class
  src/YouToddlerWebAPI/target/classes/io/swagger/api/MetaApiController.class
Owners: @TheUsernameIsNotTaken

MAN-21 MAN-46 Updated download return message.
  src/YouToddlerWebAPI/pom.xml
  src/YouToddlerWebAPI/src/main/java/io/swagger/api/DownloadApiController.java
  src/YouToddlerWebAPI/target/classes/io/swagger/api/DownloadApiController$ExecConsumer.class
  src/YouToddlerWebAPI/target/classes/io/swagger/api/DownloadApiController$StreamGobbler.class
  src/YouToddlerWebAPI/target/classes/io/swagger/api/DownloadApiController$ZipFinder.class
  src/YouToddlerWebAPI/target/classes/io/swagger/api/DownloadApiController.class
Owners: @TheUsernameIsNotTaken

MAN-41 MAN-49 MAN-50 Implemented metadata getter.
  src/YouToddlerWebAPI/pom.xml
  src/YouToddlerWebAPI/src/main/java/io/swagger/api/DownloadApiController.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/api/MetaApiController.java
  src/YouToddlerWebAPI/target/classes/io/swagger/api/DownloadApiController$ExecConsumer.class
  src/YouToddlerWebAPI/target/classes/io/swagger/api/DownloadApiController$StreamGobbler.class
  src/YouToddlerWebAPI/target/classes/io/swagger/api/DownloadApiController$ZipFinder.class
  src/YouToddlerWebAPI/target/classes/io/swagger/api/DownloadApiController.class
  src/YouToddlerWebAPI/target/classes/io/swagger/api/MetaApiController$StreamGobbler.class
  src/YouToddlerWebAPI/target/classes/io/swagger/api/MetaApiController.class
Owners: @TheUsernameIsNotTaken

Initial commit (Missed tasks from MVP-1)
  src/YouToddlerFrontend/App.css
  src/YouToddlerFrontend/App.test.tsx
  src/YouToddlerFrontend/App.tsx
  src/YouToddlerFrontend/api.ts
  src/YouToddlerFrontend/apis/download-api.ts
  src/YouToddlerFrontend/apis/history-api.ts
  src/YouToddlerFrontend/apis/meta-api.ts
  src/YouToddlerFrontend/base.ts
  src/YouToddlerFrontend/components/AvailableFormats.tsx
  src/YouToddlerFrontend/components/Header.tsx
  src/YouToddlerFrontend/configuration.ts
  src/YouToddlerFrontend/index.css
  src/YouToddlerFrontend/index.tsx
  src/YouToddlerFrontend/logo.svg
  src/YouToddlerFrontend/models/api-response.ts
  src/YouToddlerFrontend/models/audio.ts
  src/YouToddlerFrontend/models/format.ts
  src/YouToddlerFrontend/models/history-log.ts
  src/YouToddlerFrontend/models/index.ts
  src/YouToddlerFrontend/models/metadata.ts
  src/YouToddlerFrontend/models/resolution.ts
  src/YouToddlerFrontend/models/video.ts
  src/YouToddlerFrontend/paperweight
  src/YouToddlerFrontend/react-app-env.d.ts
  src/YouToddlerFrontend/reportWebVitals.ts
  src/YouToddlerFrontend/setupTests.ts
Owners: @szemand

Updated class diagram
  ClassLibrary.png
  src/Libs/YouToddler/ClassLibrary.cd
Owners: @cant0r

MAN-41 MAN-50 Fix logger incosnistency, started Json rework.
  src/YouToddlerWebAPI/src/main/java/io/swagger/api/DownloadApiController.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/api/HistoryApiController.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/api/MetaApiController.java
  src/YouToddlerWebAPI/target/classes/io/swagger/api/DownloadApiController.class
  src/YouToddlerWebAPI/target/classes/io/swagger/api/HistoryApiController.class
  src/YouToddlerWebAPI/target/classes/io/swagger/api/MetaApiController$StreamGobbler.class
  src/YouToddlerWebAPI/target/classes/io/swagger/api/MetaApiController.class
Owners: @TheUsernameIsNotTaken

MAN-41 MAN-50 Finished Metadata generation.
  src/YouToddlerWebAPI/.idea/.gitignore
  src/YouToddlerWebAPI/.idea/misc.xml
  src/YouToddlerWebAPI/README.md
  src/YouToddlerWebAPI/example_files/Videjo.zip
  src/YouToddlerWebAPI/pom.xml
  src/YouToddlerWebAPI/src/main/java/io/swagger/api/ApiException.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/api/ApiOriginFilter.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/api/ApiResponseMessage.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/api/DownloadApi.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/api/DownloadApiController.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/api/HistoryApi.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/api/HistoryApiController.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/api/MetaApi.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/api/MetaApiController.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/api/NotFoundException.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/configuration/SwaggerDocumentationConfig.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/configuration/SwaggerUiConfiguration.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/model/Audio.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/model/Format.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/model/HistoryLog.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/model/Metadata.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/model/ModelApiResponse.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/model/Resolution.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/model/Video.java
Owners: @TheUsernameIsNotTaken

MAN-41 Updated target ignore
  src/YouToddlerWebAPI/.idea/.gitignore
Owners: @TheUsernameIsNotTaken

MAN-41 MAN-50 Updated Metadata Generation
  src/YouToddlerWebAPI/src/main/java/io/swagger/api/MetaApiController.java
Owners: @TheUsernameIsNotTaken

MAN-42 Spring Gen 2
  src/YouToddlerWebAPI/.idea/.gitignore
  src/YouToddlerWebAPI/.idea/compiler.xml
  src/YouToddlerWebAPI/.idea/encodings.xml
  src/YouToddlerWebAPI/.idea/jarRepositories.xml
  src/YouToddlerWebAPI/.idea/misc.xml
  src/YouToddlerWebAPI/.swagger-codegen-ignore
  src/YouToddlerWebAPI/.swagger-codegen/VERSION
  src/YouToddlerWebAPI/README.md
  src/YouToddlerWebAPI/paperweight
  src/YouToddlerWebAPI/pom.xml
  src/YouToddlerWebAPI/src/main/java/io/swagger/RFC3339DateFormat.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/Swagger2SpringBoot.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/api/ApiException.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/api/ApiOriginFilter.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/api/ApiResponseMessage.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/api/DownloadApi.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/api/DownloadApiController.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/api/HistoryApi.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/api/HistoryApiController.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/api/MetaApi.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/api/MetaApiController.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/api/NotFoundException.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/configuration/CustomInstantDeserializer.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/configuration/HomeController.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/configuration/JacksonConfiguration.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/configuration/LocalDateConverter.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/configuration/LocalDateTimeConverter.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/configuration/SwaggerDocumentationConfig.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/configuration/SwaggerUiConfiguration.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/model/Audio.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/model/Format.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/model/HistoryLog.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/model/Metadata.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/model/ModelApiResponse.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/model/Resolution.java
  src/YouToddlerWebAPI/src/main/java/io/swagger/model/Video.java
  src/YouToddlerWebAPI/src/main/resources/application.properties
Owners: @TheUsernameIsNotTaken

MAN-41 MAN-50 Updated README.md, linked tests.
  src/YouToddlerWebAPI/README.md
Owners: @TheUsernameIsNotTaken

MAN-41 MAN-50 Updated README.md, linked tests. New version.
  src/YouToddlerWebAPI/README.md
  src/YouToddlerWebAPI/pom.xml
Owners: @TheUsernameIsNotTaken

MAN-41 Added doc and exported unit test
  docs/YouToddler.postman_collection.json
  docs/openapi.yaml
Owners: @Pajaik

Moved Unittest and Definitions
  src/YouToddlerWebAPI/YouToddler.postman_collection.json
  src/YouToddlerWebAPI/openapi.yaml
Owners: @TheUsernameIsNotTaken

CODEOWNERS:

*            @cant0r

**/YouToddlerWebAPI/     @TheUsernameIsNotTaken
**/YouToddlerCLI/    @cant0r
**/Libs/YouToddler/    @cant0r
**/YouToddlerFrontend/   @szemand
/docs/       @Pajaik
/demos/      @Pajaik
